* {
  font-family: "Work Sans", sans-serif;
}
body {
  padding-inline: 10px;
}

/* Header styles */
header {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  margin-top: 40px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 500;
  color: #101828;
  gap: 6px;
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 6px;

  a {
    text-decoration: none;
    text-align: center;
    color: #101828;
    transition: all 0.2s;
  }

  a:hover {
    color: #006d77;
  }
}
.getStartedHeadBtn {
  border: none;
  background-color: #080c14;
  color: white;
  padding: 10px;
  border-radius: 40px;
  transition: all 0.2s;
  cursor: pointer;
}
.getStartedHeadBtn:hover {
  background-color: #006d77;
}
/* Header styles */

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-inline: auto;
  margin-top: 80px;
  align-items: center;
}
/* Main block 1 */
.mainBlock1{
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 10px;
}
.mainBlock1_podBlock1{
  display: flex;
  flex-direction: column;
  gap: 26px;

  h4{
    font-size: 25px;
    color: #98A2B3;
  }
  span{
    font-family: Merriweather;
    font-size: 18px;
    color: #98A2B3;
  }

  h1{
    font-size: 50px;
  }
}
.mainBlock1_podBlock1_btns{
  display: flex;
  gap: 10px;
}
.getStartedMainBtn{
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  background-color: #080c14;
  color: white;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}
.getStartedMainBtn:hover{ 
  background-color: #006d77;
}
.howItWorksBtn{
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  background: transparent;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.mainBlock1_podBlock2{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.circle{
  position: absolute;
  border-radius: 50%;
}
.chartBlock{
  position: absolute;
  bottom: -80px;
  right: 0;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mainBlock1_podBlock3{
  display: flex;
  gap: 30px;
}
.projectsStatisticBlock, .custommersStatisticBlock{
  display: flex;
  align-items: center;
  gap: 10px;
}

.projectsDoneTextBlock, .custommersTextBlock{
  display: flex;
  flex-direction: column;

  h2{
    color: #101828;
    margin-block: 4px;
  }

  span{
    color: #98A2B3;
  }
}
.projectsDoneBlock, .custommersBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #BEE1E6;
  border-radius: 50%;
}
/* Main block 2 styles*/
.mainBlock2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 80px;
}
.smallProductCard{
  position: relative;
  display: flex;
  gap: 10px;
  border: solid 1px #E4E7EC; 
  border-radius: 8px;
  padding-inline: 10px;
  padding-block: 6px;
}
.smallProductCard_productName{
  color: #323A4B;
  margin-bottom: 34px;
}
.smallProductCard_price{
  position: absolute;
  bottom: 0;
  color: #98A2B3;
}

.recommendations{
  width: 480px;
  font-size: 50px;
  color: #101828;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}

/* Main block 3 styles*/
.mainBlock3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCardsСontainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.productCard{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border: solid 1px #E4E7EC;
  border-radius: 8px;
  padding: 16px;
  padding-top: 40px;
}
.discount{
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 12px;
  background-color: #101828;
  color: white;
  border-radius: 20px;
  padding-block: 4px;
  padding-inline: 10px;
}
.productCardImg{
  width: 50%;
  height: 50%;
}
.brandName{
  color: #98A2B3;
}
.productName{
  font-size: 18px;
  color: #323A4B;
  font-weight: 600;
}
.productCardFooter{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}
.productPrice{
  color: #006D77;
  font-size: 18px;
  font-weight: 600;
}
.addBtn{
  font-size: 16px;
  border: none;
  background-color: #BEE1E6;
  color: #006D77;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.2s;
  cursor: pointer;
}
.addBtn:hover{
  background-color: rgb(25, 136, 146);
  color: white;
}
/* Main styles */
